body,ul,li,h1,h2,h3,h4,h5,h6,p,div{
	margin: 0;padding: 0;
	font-family: sans-serif;
	margin: 0 auto;
}
li{
	list-style-type: none;
}
.clear:after{
	display: block;
	clear: both;
	content:"";
	overflow: hidden;
	height: 0px;

}
.clear{
	zoom: 1;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}